.primary-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    border: none;
    color: white;
}

main {
    margin: 0 160px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(198, 228, 214);
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    border-radius: 24px;
}

.hero-container {
    width: 620px;
    height: 325px;
}

.hero-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero-title {
    color: rgba(14, 14, 14);
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 24px;
}

/*future section*/

.section-title {
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-top: 75px;
    margin-bottom: 25px;
}

.section-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
}

.card-container {
    display: flex;
    gap: 25px;
}

.first-card {
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;


}

.second-card {
    background: rgb(198, 228, 214);
    padding: 32px;
    border-radius: 16px;
}

.third-card {
    background: rgb(247, 235, 207);
    padding: 32px;
    border-radius: 16px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.card-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.first-card-button {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    padding: 11px 20px 11px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    text-align: left;
}
.second-card-button{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    padding: 11px 20px 11px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    text-align: left;
}
.third-card-button{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    padding: 11px 20px 11px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    text-align: left;
}


/*Quote Section */
.quote-section{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 5px 24px 48px 24px;
}
.quote-text{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.quote-author{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.quote-title{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

/*news section*/
.news-item{
    display: flex;
    gap: 35px;
    padding: 48px;
}
.news-content{
background-color: rgb(255, 255, 255);
}
.news-image{
    border-radius: 24px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.news-source-logo{
    margin-top: -20px;
}
.news-date-time{
    display: flex;
    gap: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.news-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.donation-section{
    text-align: center;
}
.donation-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.donation-description{
    color: rgb(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.donation-options{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donation-options div{
    width: 240px;
    height: 65px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    color: rgba(14, 14, 14, 0.8);
    padding: 25px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.taka-1:hover{
    background-color: rgba(222, 155, 7, 0.8);
}
.taka-2{
    background-color: rgb(198, 228, 214);
}
.taka-3:hover{
    background-color: rgba(21, 56, 169, 0.8);
}
.taka-4:hover{
    background-color: rgba(221, 56, 169, 0.8);
}
.donation-section input{
    display: block;
    width: 980px;
    height: 64px;
    text-align: center;
    margin: 0 160px 32px 80px;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
}

/*news letter section*/
.newsletter-section{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1280px;
    height: 395px;
    text-align: center;
    margin-top: 80px;

}
.newsletter-header{
   padding: 50px 100px;
}
.newsletter-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.newsletter-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin:0 64px 24px 64px;
}
.newsletter-form {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.newsletter-section input{
    width: 600px;
    height: 30px;
    padding: 18px 40px;
    border-radius: 8px 0 0 8px;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    margin-right: 0;
}
.newsletter-section button{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    background-color: rgb(0, 106, 80);
    border-radius: 0 8px 8px 0;
    margin-right: 0;
    border: none;
}
.newsletter-section button:hover{
    background-color:lightseagreen;
    color: darkolivegreen;
}
hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
    width: 1122px;
}
.footer-container{
    padding: 50px 160px;
   text-align: center;
   }
.footer-links{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top:25px ;
}